<div class="js-toggle-wrapper">
  <div class="js-toggle">
    <div class="js-toggle-track">
      <div class="js-toggle-thumb"></div>
    </div>
    <input class="js-toggle-screenreader-only" type="checkbox" aria-label="Switch between Dark and Light mode">
  </div>
</div>

<style>
  .js-toggle-wrapper {
    display: table;
    margin: 0 auto;
  }

  .js-toggle {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    user-select: none;
  }

  .js-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .js-toggle-track {
    width: 30px;
    /* Adjusted width */
    height: 16px;
    /* Adjusted height */
    border-radius: 16px;
    background-color: #558B71;
    transition: background-color 0.2s ease;
    position: relative;
  }

  .js-toggle-thumb {
    position: absolute;
    top: 2px;
    /* Adjusted to center the thumb */
    left: 2px;
    /* Adjusted to center the thumb */
    width: 12px;
    /* Adjusted thumb size */
    height: 12px;
    /* Adjusted thumb size */
    border-radius: 50%;
    background-color: #fafafa;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }

  .js-toggle--checked .js-toggle-track {
    background-color: #558B71;
    /* Color for checked state */
  }

  .js-toggle--checked .js-toggle-thumb {
    transform: translateX(14px);
    /* Adjusted position for checked state */
  }

  .js-toggle:focus .js-toggle-thumb {
    box-shadow: 0 0 2px 3px rgba(255, 167, 196, 0.6);
  }
</style>

<script>
  var body = document.body;
  var switcher = document.getElementsByClassName('js-toggle')[0];

  switcher.addEventListener("click", function () {
    this.classList.toggle('js-toggle--checked');
    // If dark mode is selected
    if (this.classList.contains('js-toggle--checked')) {
      body.classList.add('dark-mode');
      localStorage.setItem('darkMode', 'true');
    } else {
      body.classList.remove('dark-mode');
      localStorage.removeItem('darkMode');
    }
  });

  if (localStorage.getItem('darkMode')) {
    switcher.classList.add('js-toggle--checked');
    body.classList.add('dark-mode');
  }
</script>